:root {
    --bg-color: #172c66;
    --border-color: #001050;

    --display-bg-color: #90b4ce;
    
    --display-text-color: #0e172c;

    --calculator-bg-color: #fec7d7;

    --util-bg-color: #a786df;
    --operation-bg-color: #f582ae;
    --digit-bg-color: #d9d4e7;

    --button-text-color: #0e172c;
}

@font-face {
    font-family: sevenSegment;
    src: url("./fonts/SevenSegment.ttf");
}

* {
    font-family: "Roboto Mono";
}

body {
    height: 100vh;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    background: linear-gradient(98deg, #000428, #004e92);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 150s ease infinite;
    -moz-animation: AnimationName 150s ease infinite;
    animation: AnimationName 150s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 10px 10px 15px rgba(0,0,0,0.3), -10px -10px 15px rgba(255,255,255,0.05);
    padding: 10px;
    border-radius: 10px;
    border: 2px none var(--border-color);
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: linear-gradient(98deg, #f5a7e3, #f582ae/*#f55d79*/);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 100s ease infinite;
    -moz-animation: AnimationName 100s ease infinite;
    animation: AnimationName 100s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}
@keyframes AnimationName {
    0%{background-position:0% 15%}
    50%{background-position:100% 86%}
    100%{background-position:0% 15%}
}

main.active{
    cursor: move;
    user-select: none;
}

.upper-display {
    display: flex;
    justify-content: flex-end;
}

.operation-display,
.tiny-display {
    font-size: 13px;
}

.display,
.operation-display,
.tiny-display {
    font-family: sevenSegment;
    font-weight: 800;
    text-align: right;
}

.display {
    font-size: 25px;
    /* display: flex;
    flex-direction: column; */
}

.whole-display {
    padding: 5px;
    border-radius: 5px;
    border: 2px none var(--border-color);
    background-color: var(--display-bg-color);
}

.whole-display,
button {
    box-shadow: 3px 3px 5px rgba(0,0,0,0.3), -3px -3px 5px rgba(255,255,255,0.2);
}

.keyboard {
    display: grid;
    gap: 2px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.add {
    height: auto;
    grid-column: 4;
    grid-row: 4/span 2;
}

button {
    height: 25px;
    width: 33px;
    border-radius: 5px;
    border: 2px none var(--border-color);
    color: var(--button-text-color);
    background-color: var(--digit-bg-color);
    text-align: center;
}

button:hover {
    filter: saturate(160%) brightness(85%);
}

button:active {
    filter: saturate(200%) brightness(70%);
}

button.util {
    background-color: var(--util-bg-color);
}

button.operation {
    background-color: var(--operation-bg-color);
}